/********Reset StyleSheet Code********/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/********Generic********/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: #707070;
}


/********Typography********/

.style1 {
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    font-weight: 400;
}

header {
    padding: 2em 0;
    text-align: center;
}


/*Title*/

.head-title {
    font-size: 1.75rem;
    max-width: 95%;
    font-weight: 400;
    margin: auto;
    padding: 5px;
    text-align: center;
    line-height: 120%;
}

h1 {
    margin-bottom: 2rem;
}

.services-main-title {
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 1.85rem;
}

.services-title {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.card-main-title {
    padding-top: 80px;
    text-align: center;
    color: #4b4c54;
    font-weight: 400;
    font-size: 1.85rem;
}

.card-title {
    text-align: center;
    color: #4b4c54;
    font-weight: 500;
    line-height: 150%;
    font-size: 1rem;
    margin-bottom: 1.5em;
}


/*Subtitle*/

.image-info {
    vertical-align: text-bottom;
    margin-left: 1em;
}

.image-info h2 {
    color: #e5e7e9;
    margin-bottom: 0.75em;
}

.image-info p {
    color: #abaaa8;
    font-size: 0.8rem;
}

.services-desc {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #afe1d6;
    font-size: 0.9rem;
    margin-left: 1em;
    line-height: 150%;
    padding: 10px 10px 10px 10px;
}

.card-desc {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #7e7e98;
    font-size: 0.9rem;
    line-height: 150%;
    margin-left: 1em;
}

.test-info p,
.test-info h4 {
    text-align: center;
    color: #7e7e98;
    font-size: 0.9rem;
    line-height: 150%;
    margin-top: 2rem;
    justify-content: center;
}

.test-info p {
    font-family: 'Playfair Display', serif;
}

.test-info h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}


/********Main Layout********/

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.container-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.de-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.border-header {
    border-bottom: 5px solid #e5e5e5;
    border-style: double;
    margin-bottom: 2rem;
}


/*Image Grid section*/

.grid-container {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.image-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas: 'image-1' 'image-2' 'image-3' 'image-4';
}

.image-box {
    position: relative;
    cursor: move;
    border-radius: 5px;
    -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
    float: left;
    object-fit: cover;
}

.image-box a {
    position: absolute;
    text-decoration: none;
    bottom: 1em;
}

.image-box:hover {
    transform: scale(1.05);
}

.image-1 {
    grid-area: image-1;
    background-image: url('./assets/image_6.jpg');
    min-height: 250px;
    background-size: cover;
    float: left;
}

.image-2 {
    grid-area: image-2;
    background-image: url('./assets/image_2.jpg');
    min-width: 220px;
    background-size: cover;
    float: left;
}

.image-3 {
    grid-area: image-3;
    background-image: url('./assets/image_3.jpg');
    min-width: 110px;
    background-size: cover;
    float: left;
}

.image-4 {
    grid-area: image-4;
    background-image: url('./assets/image_10.jpg');
    min-width: 110px;
    background-size: cover;
    float: left;
}


/*Services section*/

.services-section {
    background-image: linear-gradient(to top right, #00b27e, #0091bc);
    width: 100%;
    height: auto;
    padding: 40px 0;
}

.service-title-width {
    width: 95%;
    margin: auto;
    text-align: center;
    margin-bottom: 1rem;
}

.services-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.service-circle {
    max-width: 100%;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
}

.service-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 250px;
    border: 1px solid #fafafa;
    color: #ffffff;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.2s linear;
}

.service-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 2rem;
}

.service-circle:hover .service-icon {
    background: #82ccdd;
    color: #ddd;
}


/*Recent Blog Section*/

.card-section {
    width: 100%;
    height: auto;
    background: #f2f4f5;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    max-width: 960px;
    padding-bottom: 3rem;
}

.card {
    display: grid;
    margin-top: 1em;
    margin-left: .5em;
    margin-right: .5em;
    margin-bottom: 2em;
    width: 80%;
    min-width: 300px;
    max-width: 450px;
    grid-template-columns: 100%;
    grid-template-rows: 200px 250px 80px;
    grid-template-areas: "image" "text" "readmore";
    border-radius: 7px;
    background: white;
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
}

.card:hover {
    transform: translateY(20px);
    box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.card-image-1 {
    grid-area: image;
    background: url('./assets/image_4.jpg');
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
    margin-bottom: 1rem;
}

.card-image-2 {
    grid-area: image;
    background: url('./assets/image_5.jpg');
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
    margin-bottom: 1rem;
}

.card-image-3 {
    grid-area: image;
    background: url('./assets/image_6.jpg');
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
    margin-bottom: 1rem;
}

.card-text {
    grid-area: text;
    margin-left: 1rem;
    margin-right: 1rem;
}

.card-read-more {
    grid-area: readmore;
    align-items: center;
    padding: 20px 0;
}

.card-read-more a {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: rgba(0, 179, 126, 1.7);
    padding: 7px;
    background-color: white;
    border: 3px solid rgba(0, 179, 126, 1.7);
    border-radius: 50px;
}

.card-read-more a:hover {
    color: rgba(0, 179, 126, 0.6);
    border: 3px solid rgba(0, 179, 126, 0.6);
}

.recent-title-width {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-bottom: 1.3rem;
}


/*Media Query for card-section*/

@media (min-width: 710px) {
    .card-container {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .card {
        width: 45%;
        height: 80%;
        grid-template-columns: 100%;
    }
}

@media (min-width: 960px) {
    .card-container {
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }
    .card {
        width: 100%;
    }
}


/*Testimonials*/

.test-section {
    width: 90%;
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

.test-container {
    padding-top: 40px;
    padding-bottom: 70px;
}

.test-in {
    margin: 0 20px;
    margin-bottom: 2em;
    height: auto;
    background-color: #f2f4f5;
    padding: 40px 20px 80px 20px;
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.test-quotes .fa-quote-right {
    color: #c3cad0;
    font-size: 1.5em;
}

.test-quotes {
    display: inline-block;
    width: 65px;
    height: 65px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
    flex-wrap: wrap;
    padding: 20px 10px;
    align-items: center;
    top: -35px;
    margin: auto;
    border-radius: 250px;
}

.test-in:hover {
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.test-in:hover .test-quotes {
    transition: 0.5s ease-in-out;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.test-info .fa-twitter {
    color: #3eacea;
}

.test-info .fa-google-plus-g {
    color: #e24d45;
}


/*****Footer******/

#footer-wrapper {
    border-bottom: 1px solid #7e7e7e;
    background: #2a2a2a;
    overflow: hidden;
    padding: 5em 0em;
    line-height: 1.5em;
}

footer {
    background: #2a2a2a;
    color: #7e7e7e;
    color: #7e7e7e;
    text-align: center;
    padding: 3em 0;
}

.footer-title {
    color: #c7c7c7;
    margin-bottom: 1.5rem;
}

#footer-wrapper a,
#footer-wrapper p {
    font-size: 0.8rem;
    color: #7e7e7e;
}

#footer-con {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#box1 {
    width: 80%;
    text-align: center;
    margin-bottom: 3rem;
}

#box2 {
    width: 80%;
    text-align: center;
    margin-bottom: 3rem;
}

#box3 {
    margin-left: 2rem;
}

.footer-title #box3 #box2 #box1 {
    align-items: center;
}

#box3 li {
    text-align: left;
}

footer a,
#footer-wrapper a {
    text-decoration: none;
}

footer a:hover,
#footer-wrapper a:hover {
    color: whitesmoke;
}

.style1-link {
    font-size: 1.02rem;
    margin-right: 1rem;
    justify-content: right;
}

#copyright {
    width: 90%;
    line-height: 1.5rem;
}

.copyright-link2 {
    margin-top: 0.7em;
    margin-bottom: 3em;
}

.copyright-link2 a {
    color: rgb(0, 179, 126);
}

.copyright-link2 a:hover {
    color: rgb(0, 240, 168);
}

.footer-container {
    width: 100%;
    margin: 0 auto;
}


/********Navigation Header********/

.fa-bolt {
    color: #00b37e;
    font-size: 1.5rem;
}

.navbar-brand {
    text-decoration: none;
    list-style: none;
    font-family: 'Heebo', sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    color: black;
    font-size: 1.5rem;
    margin-bottom: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

nav li,
nav a {
    font-family: 'Roboto', sans-serif;
    font-size: 0.85em;
    font-weight: 600;
    color: #7f7f7f;
    text-decoration: none;
}

nav li {
    margin: 0.5em;
}

nav a {
    padding: 0;
}

nav a:hover,
nav a:focus {
    color: black;
}

.current-page {
    background-color: rgba(0, 179, 126, 1);
    padding: 10px 15px 10px 15px;
    border-radius: 50px;
    border: 15px;
    transition: all 0.3s ease 0s;
    color: white;
}

.current-page:hover {
    background-color: rgba(0, 179, 126, 0.8);
    color: white;
}


/********Media Queries********/

@media (min-width: 500px) {
    nav ul {
        flex-wrap: nowrap;
    }
    .container {
        width: 90%;
    }
    .container-flex {
        flex-direction: column;
    }
    .grid-container {
        width: 90%;
    }
    .head-title {
        font-size: 2rem;
        max-width: 95%;
        padding: 5px;
        line-height: 130%;
    }
    .image-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas: 'image-1 image-1' 'image-2 image-2' 'image-3 image-4';
    }
    .image-1 {
        min-height: 300px;
    }
    .services-section {
        padding: 70px 0;
    }
    .service-title-width {
        width: 75%;
        margin-bottom: 1.2rem;
    }
    .services-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 10px;
    }
    .service-circle {
        max-width: 50%;
    }
    .recent-title-width {
        width: 75%;
        margin: auto;
        text-align: center;
        margin-bottom: 1.3rem;
    }
    #footer-con {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    #box1 {
        width: 70%;
        text-align: center;
        margin-bottom: 3rem;
    }
    #box2 {
        width: 50%;
        text-align: justify;
    }
    #box3 {
        width: 20%;
        text-align: left;
        min-width: 150px;
    }
}

@media (min-width: 745px) {
    .container {
        width: 90%;
    }
    .container-flex {
        flex-direction: row;
        justify-content: space-between;
    }
    .grid-container {
        width: 90%;
    }
    .head-title {
        font-size: 2.2rem;
        max-width: 80%;
        line-height: 150%;
        padding: 10px;
    }
    .image-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-areas: 'image-1 image-1 image-2 image-2' 'image-1 image-1 image-3 image-4';
    }
    .image-1 {
        min-height: 440px;
    }
    .services-section {
        padding: 90px 0;
    }
    .inner-width {
        width: 100%;
        padding: 0 10px;
        overflow: hidden;
    }
    .service-title-width {
        width: 55%;
        margin-bottom: 1.3rem;
    }
    .services-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 0 10px;
    }
    .service-circle {
        max-width: 28%;
    }
    .recent-title-width {
        width: 55%;
        margin: auto;
        text-align: center;
        margin-bottom: 1.3rem;
    }
    .footer-container {
        width: 100%;
        margin: 0 auto;
    }
    #footer-con .container {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    #box1 {
        float: left;
        width: 25%;
        text-align: left;
        margin-right: 1em;
        padding-right: 20px;
    }
    #box2 {
        float: left;
        width: 45%;
        margin-left: 0.5em;
        padding-right: 20px;
    }
    .style1-half1 {
        text-align: left;
        min-width: 100px;
    }
    .style1-half2 {
        margin-left: 1em;
        text-align: left;
    }
    #box3 {
        float: right;
        width: 20%;
        min-width: 150px;
        padding-left: 30px;
    }
}